<div class="container otstup">
  <%= render 'form' %>
  <ul class="pager">
      <li class="previous"><%= link_to 'Просмотреть', @marku  %> </li>
      <li class="next"><%= link_to 'Вернуться(Без сохранения) →', markus_path %></li>
  </ul>
</div>
